html,
body {
  padding: 0;
  margin: 0;
  background: #000000;
}

html {
  -webkit-print-color-adjust: exact;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-print-color-adjust: exact;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Montserrat;
}

h2,
h1 {
  font-family: Montserrat;
  margin: 0;
}

p,
body {
  font-family: 'Nunito Sans', sans-serif;
}

p {
  margin: 20px 0;
  color: #D4D4D8;
  font-size: 16px;
  line-height: 24px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0,0,0,.05);
  padding: 20px;
}

.qr-wrapper {
  margin-bottom: 24px;
}

.qr-wrapper img {
  background: #ffffff;
  width: 252px;
  height: 251px;
  border: 3px solid #D4D4D8;
  border-radius: 12px;
  margin-top: 16px;
}

.main > h1 {
  margin: 0;
}

.submit-btn {
  border: none;
  align-items: center;
  appearance: none;
  color: #ffffff;
  font-weight: 600;
  font-family: 'Nunito Sans', sans-serif;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  background: #0063F7;
  border-radius: 99px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 25px;
  min-width: 236px;
  height: 50px;
  margin-bottom: 56px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 624px;
}

.get-wallet-prompt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  width: 100%;
  max-width: 512px;
  background: #27272A;
  border-radius: 20px;
  margin-bottom: 40px;
}

.get-wallet-prompt-content > p {
  margin: 4px 0 20px 0;
}

.get-wallet-buttons {
  width: 100%;
  display: flex;
}

.get-wallet-buttons > a:last-child {
  margin-left: auto;
}

.get-wallet-prompt-content {
  width: 100%;
  text-align: left;
}

.get-wallet-prompt-logo {
  flex-shrink: 0;
  margin-right: auto;
}

@media only screen and (max-width: 500px) {
  .get-wallet-buttons {
    flex-direction: column;
  }

  .get-wallet-prompt {
    flex-direction: column;
  }

  .get-wallet-prompt-logo {
    margin: 0 auto;
  }

  .get-wallet-prompt-content {
    text-align: center;
  }

  .get-wallet-buttons > a,
  .get-wallet-buttons > a:last-child {
    margin-left: auto;
    margin-right: auto;
  }

  .get-wallet-buttons > a:last-child {
    margin-top: 4px;
  }

  .main {
    margin-top: 30px;
  }
}
